/* #one,#two{
            border: 1px solid black;
            padding : 1rem;
            margin-top: 1rem;
            width: 3rem;
            text-align: center;
        }  */
        *{
            margin: auto;
        }
        button{
            cursor: pointer;
            margin-top: 1rem;
            padding :0.5rem 1rem 0.5rem 1rem;
            border-style: solid;
            border-radius: 0.5rem;
            background-color: lightgray;
            color: black;
            font-weight: bold;
        }
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
            margin-top: 1rem;
        }
        td{
            padding:0.8rem 1rem 0.8rem 1rem;
        }
        #Heading{
            text-align: center;
            margin: auto;
            background-color: darkgray;
            border-radius:1rem;
            padding:10px;
            color:aqua;
            width: 30%;
            margin-top: 1rem;
        }
        div{
            text-align: center;
        }
        #billDiv{
            margin-top: 1rem;
            color: olive;
        }
        #paidDiv{
            margin-top: 1rem;
            color:olive;
        }
        #bill,#paid{
            margin:1rem 1rem 0rem 1rem;
            height:2rem;
            border-radius: 1rem;
            text-align: center;
        }
        th{
            padding:0rem 0.5rem 0rem 0.5rem;
        }
        #mesg{
            margin: 2rem;
            color:darkred;
        }
        #cashinnotes{
            font-weight: bold;
        }
        #returnNotes{
            font-weight: bold;
        }

